<%= form_with(model: @postulation) do |form| %>

  <% if @postulation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(postulation.errors.count, "Error(es).") %> No es posible crear postulación debido a:</h2>
      <ul>
        <% @postulation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :offer_id, value: offer.id %>

  <div class="my-2 w-100 ">
    <div class="field my-2 ">
      <%= form.label :message, "Mensaje para postulación" %>
      <br>
      <%= form.text_area :message, autofocus: true, required: true, class: "ps-2 w-100 border border-2 rounded-2 border-secondary-subtle", rows: 3 %>
    </div>
  </div>

  <% if current_user.curriculum? && current_user.picture.attached? %>
    <div class = "actions">
      <%= form.submit "Postular", class: "btn btn-primary my-0", style: "width:100px" %>
    </div>
  <% else %>
    <p> NO PUEDE </p>
  <% end %>

<% end %>